.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/project/CopilotIndices/17.14.1706.11463/CodeChunks.db
.vs/project/CopilotIndices/17.14.1706.11463/CodeChunks.db-shm
.vs/project/CopilotIndices/17.14.1706.11463/CodeChunks.db-wal
.vs/project/CopilotIndices/17.14.1706.11463/SemanticSymbols.db
.vs/project/CopilotIndices/17.14.1706.11463/SemanticSymbols.db-shm
.vs/project/CopilotIndices/17.14.1706.11463/SemanticSymbols.db-wal
.vs/project/FileContentIndex/c98a1fa1-5a84-4600-a3cd-f7e5c86a74e4.vsidx
.vs/project/v17/.wsuo
.vs/project/v17/DocumentLayout.backup.json
.vs/project/v17/DocumentLayout.json
