.description {
    top: 300px;
    font-size: 2em;
    opacity: 1;
    transition: opacity 0.3s ease, height 0.3s ease;
    height: inherit;
    overflow: clip;
}

.description.hidden {
    opacity: 0;
    height: 0;
}

.show-more-button {
    width: 50px;
    height: 100%;
    background-color: rgb(0 0 0 / 0%);
    border: 0;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
    z-index: 10;
}

.show-more-button.reversed {
    transform: rotate(180deg);
}

.dinos {
    position: relative;
    display: flex;
    flex-direction: column;
}

.dino {
    background-color: rgb(0 0 0 / 30%);
}

.background {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.dino-container {
    display: flex;
    margin-top: 20px;
    height: 750px;
}

.characteristics {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.characteristics.hidden {
    opacity: 0;
}

.characteristics p {
    font-size: 3em;
}

.title {
    font-size: 4em;
}

.dino-name {
    font-size: 9em;
    justify-self: center;
}

.image-container {
    width: 55%;
}

.image-container img {
    width: 100%;
}

.text-container {
    width: 50%;
    padding-left: 10px;
}

#background-main {
    background-image: url("backgrounds/background_main.jpg");
}

#background2 {
    background-image: url("backgrounds/background1.jpg");
}

#background3 {
    background-image: url();
}

#background4 {
    background-image: url();
}

html {
    background-color: black;
}

a, p, h1, div {
    color: white;
    margin: 0;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

nav {
    height: 50px;
    width: 30vw;
    padding-left: 15px;
    align-content: center;
    border: 3px #545454 solid;
    border-radius: 5px;
    border-collapse: collapse;
    background-color: rgb(0, 0, 0, 0.4);
    text-align: center;
    font-size: 3em;
    line-height: 1px;
}